# URL do repositório para download das dependências.
registry=http://localhost:8081/repository/npm-group/
# URL e TOKEN para publicar novas versões. TOKEN gerado com o npm login --registry URL
//localhost:8081/repository/npm-private/:_authToken=NpmToken.a0ec605f-861c-38d7-9cad-4480cd6137bf
# Email e senha em base64 (admin:admin).
_auth=YWRtaW46YWRtaW4=
# Sempre exige autenticação.
always-auth=true
# Email necessário para publicar novos pacotes.
email=any@email.com